.main-body{
    background-color: #FFFFFF;
    
    
}

.search-img{
    display:flex;
    flex-direction: column;
    
    
}

.content{
    display:flex;
    align-self:center;
    flex-direction: column;
    margin-top:10%;
}
.search-inp{
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.search-form{
    display:flex;
    flex-direction: column;
}

.search-buttons{
    margin: 15px;
    
}
.first-links{
    list-style-type: none;
    display:flex
    
    
}

li a {
    float:right;
    
}
.nav-bar{
    right:0px;

}
.google-logo{
    font-size:200px;

}
.blue{color:#4285F4;}
#red{}
#yellow{}
#green{}
#red{}
